#Global
*__pycache__*
resourses/*
*.csv
bin/*
lib*
share*
pyvenv.cfg
*.swp

#LipenNet
LipenNet/lipvenv* 
LipenNet/Data*

!LipenNet/Logs/copylastlog.sh 
LipenNet/Models*
LipenNet/.idea*

#Tagger
LipenTagger/litagvenv*
LipenTagger/pictures/*
LipenTagger/pictures*
LipenTagger/__pycache__*
LipenTagger/.idea*
LipenTagger/LipenLabel.csv

#LipenTools
LipenTools/litcovenv*
LipenTools/inpictures/*
LipenTools/outpictures/*
LipenTools/.idea*
LipenTools/__pycache__*

#LipenCompress - OLD
LipenCompress/litcovenv*
LipenCompress/inpictures/*
LipenCompress/outpictures/*
LipenCompress/.idea*
LipenCompress/__pycache__*



