#LipenNet
LipenNet/lipvenv* 
LipenNet/data*
LipenNet/logs*
LipenNet/models*
LipenNet/.idea*

#Tagger
LipenTagger/litagvenv*
LipenTagger/pictures/*
LipenTagger/pictures*
LipenTagger/__pycache__*
LipenTagger/.idea*
LipenTagger/LipenLabel.csv

#LipenTools
LipenTools/litcovenv*
LipenTools/inpictures/*
LipenTools/outpictures/*
LipenTools/.idea*
LipenTools/__pycache__*

#LipenCompress - OLD
LipenCompress/litcovenv*
LipenCompress/inpictures/*
LipenCompress/outpictures/*
LipenCompress/.idea*
LipenCompress/__pycache__*

resourses/*
*.csv